<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b5fd11547c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Public/css/style.css">

    <title>Imageboard Webapp</title>
    <div class="fixed-header bg-green">
        <div class="container d-flex justify-content-between">
            <h3 class="py-3 text-light">Imageboard Webapp</h3>
            <div class="d-flex justify-content-between">
                <a href="../" class="responsive-new-thread btn btn-light m-3"><i class="fa-solid fa-plus"></i> ポスト</a>
                <a href="../" class="responsive-plus btn btn-light m-3"><i class="fa-solid fa-plus"></i></a>
                <a href="../publicImages" class="responsive-home btn btn-light m-3"><i class="fa-solid fa-house"></i> ホーム</a>
                <a href="../publicImages" class="responsive-table btn btn-light m-3"><i class="fa-solid fa-table"></i> </a>
            </div>
        </div>
    </div>
</head>
<body>
<main>

    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="custom-border bg-white">
                    <div>
                        <div class="m-3">
                            <p><i class="fa-regular fa-comments"></i> 4 &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:01:15</p>
                        </div>
                        <div class="m-3">
                            <h5>第2回しりとりしたい!〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜</h5>
                        </div>
                        <div class="m-3">
                            <p>誰かしりとりしませんか~?<br>僕から、はじめますね。<br>参加できる人は返信ください。<br>「しりとり」</p>
                        </div>
                        <div class="m-3">
                            <img src="../output_300x300.png" alt="" class="rounded-image">
                        </div>
                    </div>
                    
                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 1.  &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:06:15</p>
                        </div>
                        <div class="m-3">
                            <p>りんご〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜</p>
                        </div>
                    </div>

                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 2. &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:15:15</p>
                        </div>
                        <div class="m-3">
                            <p>ごりら</p>
                        </div>
                    </div>

                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 3. &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:24:15</p>
                        </div>
                        <div class="m-3">
                            <p>らくだ</p>
                        </div>
                        
                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 4. &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:29:32</p>
                        </div>
                        <div class="m-3">
                            <p>だちょう</p>
                        </div>
                    </div>

                    <div class="custom-border-top">
                        <div class="m-3 text-center">
                            <a href="">返信する or もっと見る...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="custom-border bg-white">
                    <div>
                        <div class="m-3">
                            <p><i class="fa-regular fa-comments"></i> 100 &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:01:15</p>
                        </div>
                        <div class="m-3">
                            <h5>しりとりしたい!</h5>
                        </div>
                        <div class="m-3">
                            <p>誰かしりとりしませんか~?<br>僕から、はじめますね。<br>参加できる人は返信ください。<br>「しりとり」</p>
                        </div>
                        <div class="m-3">
                            <img src="../output_300x300.png" alt="" class="rounded-image">
                        </div>
                    </div>
                    
                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 1.  &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:06:15</p>
                        </div>
                        <div class="m-3">
                            <p>りんご〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜</p>
                        </div>
                    </div>

                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 2. &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:15:15</p>
                        </div>
                        <div class="m-3">
                            <p>ごりら</p>
                        </div>
                    </div>

                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 3. &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:24:15</p>
                        </div>
                        <div class="m-3">
                            <p>らくだ</p>
                        </div>
                        
                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 4. &nbsp;&nbsp; <i class="fa-regular fa-clock"></i> 2024/1/5 23:29:32</p>
                        </div>
                        <div class="m-3">
                            <p>だちょう</p>
                        </div>
                    </div>

                    <div class="custom-border-top">
                        <div class="m-3">
                            <p><i class="fa-regular fa-comment"></i> 5. &nbsp;&nbsp;  <i class="fa-regular fa-clock"></i> 2024/1/6 2:06:15</p>
                        </div>
                        <div class="m-3">
                            <p>うし</p>
                        </div>
                    </div>

                    <div class="custom-border-top">
                        <div class="m-3 text-center">
                            <a href="">返信する or もっと見る...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Public/js/app_home.js"></script>

</main>

<footer class="text-lg-start">
    <div class="text-center p-3">
        <p>©:Imageboard Webapp</p>
    </div>
</footer>

</body>
</html>