<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b5fd11547c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Public/css/style.css">

    <title>Imageboard Webapp</title>
    <div class="fixed-header bg-green">
        <div class="container d-flex justify-content-between">
            <h3 class="py-3 text-light">Imageboard Webapp</h3>
            <div class="d-flex justify-content-between">
                <a href="../" class="responsive-new-thread btn btn-light m-3"><i class="fa-solid fa-plus"></i> ポスト</a>
                <a href="../" class="responsive-plus btn btn-light m-3"><i class="fa-solid fa-plus"></i></a>
                <a href="../publicImages" class="responsive-home btn btn-light m-3"><i class="fa-solid fa-house"></i> ホーム</a>
                <a href="../publicImages" class="responsive-table btn btn-light m-3"><i class="fa-solid fa-table"></i> </a>
            </div>
        </div>
    </div>
</head>
<body>
<main>

    <div class="container pb-2">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h4 class="mx-3"><i class="fa-regular fa-paper-plane"></i> スレッドを作成する</h4>
                <div class="custom-border bg-white">
                    <div class="m-3">
                        <input id="input_title" type="text" name="name" size="30" maxlength="50" placeholder="タイトル">
                    </div>
                    <div class="mx-3 my-2">
                        <textarea id="new-thread-textarea" name="message" placeholder="コメントを入力してください" minlength="1" maxlength="400"></textarea>
                    </div>
                    <div class="mx-3 d-flex">
                        <button id="upload_file"><i class="fa-solid fa-image"></i> 画像</button>
                        <input type="file" id="upload_file_none" accept=".jpg, .jpeg, .png, .gif">
                        <p class="p-3"><i class="fa-solid fa-check"></i> ファイルが選択されました</p>
                    </div>
                    <div class="mx-3 mt-2 mb-4">
                        <button id="post-button" onclick="postData()">ポストする</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Public/js/app_newThread.js"></script>

</main>

<footer class="text-lg-start">
    <div class="text-center p-3">
        <p>©:Imageboard Webapp</p>
    </div>
</footer>

</body>
</html>