:root {
    --Arial-sans-serif: Arial, sans-serif;
    --main-blue: #21ecf3;
    --sub-blue: #21c9f3;
    --custom-border-radius: 15px;
}

body {
    padding-top: 100px;
    background-color: rgb(245, 245, 245);
    overflow-wrap: break-word;
}

p {
    margin-bottom: 0;
}

#new_thread_textarea {
	width: 100%;
	height: 200px;
}

#reply_textarea {
    width: 100%;
	height: 100px;
}

#upload_file {
    background-color: #fafafa;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: var(--Arial-sans-serif);
    margin: 7px 2px;
    cursor: pointer;
    border: 1px solid rgb(193, 193, 193);
    border-radius: var(--custom-border-radius);
}

#upload_file:hover {
    background-color: rgb(233, 233, 233);
}

#reply_upload_file {
    background-color: #fafafa;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: var(--Arial-sans-serif);
    margin: 0px 0px;
    cursor: pointer;
    border: 1px solid rgb(193, 193, 193);
    border-radius: var(--custom-border-radius);
}

#upload_file_none {
    display: none;
}

#reply_upload_file_none {
    display: none;
}

.rounded-image {
    border-radius: var(--custom-border-radius);
}

.post-button {
    background-color: var(--main-blue);
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: var(--Arial-sans-serif);
    margin: 2px 0px;
    cursor: pointer;
    border: none;
    border-radius: var(--custom-border-radius);
}

.post-button:hover {
    background-color: var(--sub-blue);
}

.bg-blue {
    background-color: var(--main-blue);
}

.custom-border {
    border: 1px solid rgb(219, 219, 219);
    border-radius: var(--custom-border-radius);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.custom-border-top {
    border-top: 1px solid rgb(219, 219, 219);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.fixed-reply-area {
    position: fixed;
    bottom: 8px;
    z-index: 1000;
    max-height: 250px;
    overflow-y: auto;
}

.responsive-new-thread {
    display: block;
}

.responsive-plus {
    display: none;
}

.responsive-home {
    display: block;
}

.responsive-table {
    display: none;
}

@media (max-width: 767px){
    .responsive-new-thread {
        display: none;
    }
    
    .responsive-plus {
        display: block;
    }
    
    .responsive-home {
        display: none;
    }
    
    .responsive-table {
        display: block;
    }
}
